<header>
    <div class="sidebar">
        <div class="logo">
            <img src="/images/LogoRR.png" alt="Logo de la empresa">
            <!-- <div class="extend-menu">dwad</div> -->
            <ul class="menu">
                <li><i class="fa-solid fa-house"></i></li>
                <li class="menu-item"><i class="fa-solid fa-warehouse"></i>
                    <ul class="mini-menu">
                        <li><a>Ver productos</a></li>
                        <li><a>Registrar productos</a></li>
                        <li><a>Agregar productos existentes</a></li>
                        <li><a>Registro de productos sacados</a></li>
                    </ul>
                </li>
                <li class="menu-item"><a href="consulMob2"><i class="fa-solid fa-couch"></i></a></li>
                <li class="menu-item"><i class="fa-solid fa-desktop"></i>
                    <ul class="mini-menu">
                        <li><a>Registrar equipos</a></li>
                        <li><a>Visualizar equipos</a></li>
                    </ul>
                </li>
                <li class="menu-item"><a><i class="fa-solid fa-clipboard-list"></i></a></li>
            </ul>
        </div>
    </div>
    <nav>
        <i class="fa fa-sign-in" aria-hidden="true"></i>
    </nav>
</header>
<!-- <script>
    men = document.getElementsByClassName('sidebar')[0]
    document.getElementsByClassName('extend -menu')[0].addEventListener("click", function(e){
        men.style.width = "10rem";
    })
</script> -->