
<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Last-Modified" content="0">
  <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <link
    href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Noto+Sans+JP:wght@300;400;700;900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
  <link rel="stylesheet" type="text/css" href="/stylesheets/general.css">
  <!--<link rel='stylesheet' href='/stylesheets/style.css' />-->
</head>

<body>
        <header class="Cabecera">
            <div class="Contenedor Contenido-Header">
                <div class="Barra">
                    <img src="/images/Logo.jpeg" alt="Logo">
                    <a class="nav-item nav-link active" href="/Inicio">Home</a>
                    <a class="nav-item nav-link active" href="/nosotros">Nosotros</a>
                    <a class="nav-item nav-link active" href="/Productos">Productos</a>
                </div>
            </div>
        </header>