<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<main class="Contenedor Contenido-centrado Seccion">
    <div class="Contenedor Contenido-centrado Alta">
        <div class="Mini-Header">
            <h4>Añadiendo Mobiliario</h4>
        </div>
        <form name="AltaMobiliario" id="AltaMobiliario">
            <div class="Dos_Columnas Separacion">
                <div>
                    <label>Artículo</label>
                    <select id="ArtM" name="ArtM" required>
                        <option value=""></option>
                        <script>
                            $(document).ready(function () {
                                // Cargar las opciones desde el archivo JSON
                                $.getJSON('/javascripts/almacen_mobiliario.json', function (data) {
                                    // Acceder directamente al array en el JSON
                                    var opciones = data;

                                    // Agregar las opciones al elemento select con Select2
                                    $('#ArtM').select2({
                                        data: opciones.map(function (opcion) {
                                            return { id: opcion.ARTICULO, text: opcion.ARTICULO };
                                        }),
                                        placeholder: 'Selecciona un artículo',
                                        allowClear: true,
                                        width: '100%'
                                    });
                                });
                            });
                        </script>
                        <option>OTRO</option>
                    </select>
                </div>
                <div>
                    <label>Descripción</label>
                    <input type="text" id="DescM" name="DescM" oninput="mayus(this);" onkeypress="return checkA(event)"
                        required>
                </div>
            </div>
            <div id="DesplegableM">
                <div class="Dos_Columnas">
                    <div>
                        <label>Otros artículos</label>
                        <input autocomplete="off" type="text" id="OtrosM" name="OtrosM" maxlength="100"
                            onkeypress="return checkA(event)" oninput="mayus(this);">
                    </div>
                </div>
            </div>
            <div class="Dos_Columnas">
                <div>
                    <label>Ubicación</label>
                    <input autocomplete="off" type="text" id="UbiM" name="UbiM" required maxlength="400"
                        oninput="mayus(this);" onkeypress="return checkA(event)">
                </div>
                <div>
                    <label>Cantidad</label>
                    <input autocomplete="off" type="text" id="CantidadM" name="CantidadM" required min="1"
                        onkeypress="return checkN(event)">
                </div>
            </div>
            <div class="Dos_Columnas Separacion">
                <input type="submit" style="height: 6rem; width: 15rem;" value="Aceptar" class="BotonAA">
                <a class="BotonReg" href="/users/index" style="height: 6rem; width: 15rem;">Regresar</a>
            </div>
        </form>
    </div>
</main>