<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<main class="Contenedor Contenido-centrado Seccion">
    <div class="Contenedor Contenido-centrado Alta">
        <div class="Mini-Header">
            <h4>Añadiendo Equipos</h4>
        </div>
        <form name="AltaEquip" id="AltaEquip">
            <div class="Cuatro_Column">
                <div>
                    <label>Número de serie</label>
                    <input autocomplete="off" type="text" id="Num_Serie" min="1" name="Num_Serie" required
                        maxlength="45" oninput="mayus(this)" onkeypress="return checkA(event)">
                </div>
                <div>
                    <label>Equipo</label>
                    <select id="Equip" name="Equip" required>
                        <option value=""></option>
                        <option>CPU</option>
                        <option>IMPRESORA</option>
                        <option>NOBREAK</option>
                        <option>REGULADOR</option>
                        <option>IMPRESORA</option>
                        <option>MULTIFUNCIONAL</option>
                        <option>TELÉFONO</option>
                        <option>PIZARRÓN DIGITAL</option>
                        <option>SERVIDOR</option>
                        <option>SWITCH</option>
                        <option>GATEWAY</option>
                        <option>BOCINA</option>
                        <option>PROYECTOR</option>
                    </select>
                </div>
                <div>
                    <label>Marca</label>
                    <input autocomplete="off" type="text" id="MarcE" name="MarcE" required maxlength="45"
                        oninput="mayus(this);" onkeypress="return checkA(event)">
                </div>
                <div>
                    <label>Modelo</label>
                    <input autocomplete="off" type="text" id="ModelE" name="ModelE" required maxlength="45"
                        oninput="mayus(this);" onkeypress="return checkA(event)">
                </div>
            </div>
            <div class="Dos_Columnas Separacion">
                <div>
                    <label>Ubicación</label>
                    <input autocomplete="off" type="text" id="UbiE" name="UbiE" required maxlength="50"
                        oninput="mayus(this);" onkeypress="return checkA(event)">
                </div>
                <div>
                    <label>Encargado</label>
                    <select id="NombreEmp" required style="width: 100%;">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div id="Desplegable">
                <div class="Dos_Columnas">
                    <div>
                        <label>Hardware</label>
                        <input autocomplete="off" type="text" id="HardE" name="HardE" maxlength="100"
                            onkeypress="return checkA(event)" oninput="mayus(this);">
                    </div>
                    <div>
                        <label>Software</label>
                        <input autocomplete="off" type="text" id="SoftE" name="SoftE" maxlength="100"
                            onkeypress="return checkA(event)" oninput="mayus(this);">
                    </div>
                </div>
                <div class="Tres_Column">
                    <div>
                        <label>Monitor</label>
                        <input autocomplete="off" type="text" id="MonE" name="MonE" maxlength="100"
                            onkeypress="return checkA(event)" oninput="mayus(this);">
                    </div>
                    <div>
                        <label>N. Inventario de Monitor</label>
                        <input autocomplete="off" type="text" id="NIME" name="NIME" maxlength="100"
                            onkeypress="return checkN(event)">
                    </div>
                    <div>
                        <label>N. Serie de Monitor</label>
                        <input autocomplete="off" type="text" id="N_Ser_M" name="N_Ser_M" maxlength="100"
                            onkeypress="return checkA(event)" oninput="mayus(this);">
                    </div>
                </div>
                <div class="Tres_Column">
                    <div>
                        <label>Mouse</label>
                        <input autocomplete="off" type="text" id="MouseE" name="MouseE" maxlength="100"
                            onkeypress="return checkA(event)" oninput="mayus(this);">
                    </div>
                    <div>
                        <label>Teclado</label>
                        <input autocomplete="off" type="text" id="TecladE" name="TecladE" maxlength="100"
                            onkeypress="return checkA(event)" oninput="mayus(this);">
                    </div>
                    <div>
                        <label>Accesorio</label>
                        <input autocomplete="off" type="text" id="AccesE" name="AccesE" maxlength="100"
                            onkeypress="return checkA(event)" oninput="mayus(this);">
                    </div>
                </div>
            </div>
            <div class="Cuatro_Column">
                <input type="submit" style="height: 6rem; width: 15rem;" value="Aceptar" class="BotonAA">
                <a class="BotonReg" href="/users/index" style="height: 6rem; width: 15rem;">Regresar</a>
            </div>
        </form>
    </div>
</main>