<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title%>
    </title>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Noto+Sans+JP:wght@300;400;700;900&display=swap"
        rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/general.css' />
    <link rel='stylesheet' href='/stylesheets/consultas.css' />
    <link rel='stylesheet' href='/stylesheets/modal.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="/images/logoC.png" alt="Logo de la empresa">
        </div>
        <nav class="Dos_Column">
            <ul class="nav-links" id="Linksnav">
            </ul>
        </nav>
        <a onclick="CerrarSesion()" class="btn"><button>Cerrar sesión</button></a>
        <a onclick="openNav()" class="menu"><button>Menu</button></a>
        <div id="mobile-menu" class="overlay">
            <a onclick="closeNav()" href="" class="close">&times;</a>
            <div class="overlay-content" id="MenuCel">
                <a href="/users/index">Inicio</a>
                <a onclick="CerrarSesion()">Cerrar Sesión</a>
            </div>
        </div>
    </header>
    <script type="text/javascript" src="/javascripts/navbar.js"></script>
    <script type="text/javascript" src="/javascripts/ValidarSesion.js"></script>
    <div class="card" id="productos">
        <div class="card-header">
            <h4>Equipos en almacén</h4>
        </div>
        <input type="text" id="buscar" oninput="buscar(); mayus(this);" placeholder="BUSCAR EN TABLA"
            title="Empieza a escribir para buscar">
        <div class="card-body">
            <div class="table-responsive">
                <table id="DatosProd">
                    <thead>
                        <tr id="firstrow">
                            <th>Número de serie</th>
                            <th>Equipo</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Nombre de empleado</th>
                            <th>Ubicación</th>
                            <th>Eliminar</th>
                            <th>Modificar</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <input type="button" class="BotonExcel" id="ExcelDownload" onclick="Excel('ExcelE')" value="Descargar Excel">
        <div class="pen">
            <div class="controls">
            </div>
            <div class="overlay cancel-modal"></div>
            <div class="modal-container cancel-modal">
                <div class="Contenedor Contenido-centrado Alta">
                    <form name="ModEquipos" id="ModEquipos">
                        <div class="Cuatro_Column">
                            <div>
                                <label>Número de serie</label>
                                <input autocomplete="off" type="text" id="Num_SerieM" min="1" name="Num_SerieM" required
                                    maxlength="45" oninput="mayus(this)" onkeypress="return checkA(event)">
                            </div>
                            <div>
                                <label>Equipo</label>
                                <select id="EquipM" name="EquipM" required>
                                    <option value=""></option>
                                    <option>CPU</option>
                                    <option>IMPRESORA</option>
                                    <option>NOBREAK</option>
                                    <option>REGULADOR</option>
                                    <option>IMPRESORA</option>
                                    <option>MULTIFUNCIONAL</option>
                                    <option>TELÉFONO</option>
                                    <option>PIZARRÓN DIGITAL</option>
                                    <option>SERVIDOR</option>
                                    <option>SWITCH</option>
                                    <option>GATEWAY</option>
                                    <option>BOCINA</option>
                                    <option>PROYECTOR</option>
                                </select>
                            </div>
                            <div>
                                <label>Marca</label>
                                <input autocomplete="off" type="text" id="MarcEM" name="MarcEM" required maxlength="45"
                                    oninput="mayus(this);" onkeypress="return checkA(event)">
                            </div>
                            <div>
                                <label>Modelo</label>
                                <input autocomplete="off" type="text" id="ModelEM" name="ModelEM" required
                                    maxlength="45" oninput="mayus(this);" onkeypress="return checkA(event)">
                            </div>
                        </div>
                        <div class="Dos_Columnas Separacion">
                            <div>
                                <label>Encargado</label>
                                <select id="NombreEmp" required style="width: 100%;">
                                    <option value=""></option>
                                </select>
                            </div>
                            <div>
                                <label>Ubicación</label>
                                <input autocomplete="off" type="text" id="UbiEM" name="UbiEM" required maxlength="50"
                                    oninput="mayus(this);" onkeypress="return checkA(event)">
                            </div>
                        </div>
                        <div id="Desplegable">
                            <div class="Dos_Columnas">
                                <div>
                                    <label>Hardware</label>
                                    <input autocomplete="off" type="text" id="HardE" name="HardE" maxlength="100"
                                        onkeypress="return checkA(event)" oninput="mayus(this);">
                                </div>
                                <div>
                                    <label>Software</label>
                                    <input autocomplete="off" type="text" id="SoftE" name="SoftE" maxlength="100"
                                        onkeypress="return checkA(event)" oninput="mayus(this);">
                                </div>
                            </div>
                            <div class="Tres_Column">
                                <div>
                                    <label>Monitor</label>
                                    <input autocomplete="off" type="text" id="MonE" name="MonE" maxlength="100"
                                        onkeypress="return checkA(event)" oninput="mayus(this);">
                                </div>
                                <div>
                                    <label>N. Inventario de Monitor</label>
                                    <input autocomplete="off" type="text" id="NIME" name="NIME" maxlength="100"
                                        onkeypress="return checkN(event)">
                                </div>
                                <div>
                                    <label>N. Serie de Monitor</label>
                                    <input autocomplete="off" type="text" id="N_Ser_M" name="N_Ser_M" maxlength="100"
                                        onkeypress="return checkA(event)" oninput="mayus(this);">
                                </div>
                            </div>
                            <div class="Tres_Column">
                                <div>
                                    <label>Mouse</label>
                                    <input autocomplete="off" type="text" id="MouseE" name="MouseE" maxlength="100"
                                        onkeypress="return checkA(event)" oninput="mayus(this);">
                                </div>
                                <div>
                                    <label>Teclado</label>
                                    <input autocomplete="off" type="text" id="TecladE" name="TecladE" maxlength="100"
                                        onkeypress="return checkA(event)" oninput="mayus(this);">
                                </div>
                                <div>
                                    <label>Accesorio</label>
                                    <input autocomplete="off" type="text" id="AccesE" name="AccesE" maxlength="100"
                                        onkeypress="return checkA(event)" oninput="mayus(this);">
                                </div>
                            </div>
                        </div>
                        <div class="Dos_Columnas Separacion">
                            <input type="submit" id="Modify" class="BotonAE" value="Aceptar">
                            <input type="button" class="BotonReg" value="Cancelar">
                        </div>
                    </form>
                </div>
            </div>
        </div>
</body>
<script src="/javascripts/SocketsC.js" type="text/javascript"></script>
<script src='https://s3.amazonaws.com/popmotion.io/static/dist/popmotion.min.js'></script>
<script src="/javascripts/modal.js" type="text/javascript"></script>
<script src="/javascripts/Modal2.js" type="text/javascript"></script>
<script type="text/javascript" src="/javascripts/Mayusculas.js"></script>
<script type="text/javascript" src="/javascripts/NavEspecializado.js"></script>

</html>