<div class="Columns">
    <div class="table-responsive item1">
        <table>
            <thead>
                <tr>
                    <th>Articulo</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="item2 data">
        <div class="named-furniture">
            <img src="/images/Fondo.jpg" class="furniture-image">
            <label>Mobiliario:</label>
            <p class="Fname">Mesa</p>
        </div>
        <div class="description-furniture">
            <div class="DF">
                <label>Ubicación:</label>
                <input autocomplete="off" type="text" id="UbiM" name="UbiM" required maxlength="400"
                    oninput="mayus(this);" onkeypress="return checkA(event)">
            </div>
            <div class="DF">
                <label>Cantidad:</label>
                <input autocomplete="off" type="text" id="CantidadM" name="CantidadM" required min="1"
                    onkeypress="return checkN(event)">
            </div>
            <div>
                <label style="margin-bottom: 1rem;">Descripción:</label>
                <textarea class="furniture-description" id="DescM" name="DescM" oninput="mayus(this);"
                    onkeypress="return checkA(event)" required></textarea>
            </div>
        </div>
    </div>
</div>