<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<div class="card" id="productos">
    <div class="card-header">
        <h4>Mobiliario</h4>
    </div>
    <input type="text" id="buscar" oninput="buscar(); mayus(this);" placeholder="BUSCAR EN TABLA"
        title="Empieza a escribir para buscar">
    <div class="card-body">
        <div class="table-responsive">
            <table id="DatosProd">
                <thead>
                    <tr id="firstrow">
                        <th>Artículo</th>
                        <th>Descripción</th>
                        <th>Ubicación</th>
                        <th>Cantidad</th>
                        <th>Área</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <input type="button" class="BotonExcel" id="ExcelDownload" onclick="Excel('ExcelM')" value="Descargar Excel">
    <div class="pen">
        <div class="controls">
        </div>
        <div class="overlay cancel-modal"></div>
        <div class="modal-container cancel-modal">
            <div class="Contenedor Contenido-centrado Alta">
                <form name="ModMobi" id="ModMobi">
                    <div class="Dos_Columnas Separacion">
                        <div>
                            <label>Artículo</label>
                            <select id="ArtM" name="ArtM" required>
                                <option value=""></option>
                                <script>
                                    $(document).ready(function () {
                                        // Cargar las opciones desde el archivo JSON
                                        $.getJSON('/javascripts/almacen_mobiliario.json', function (data) {
                                            // Acceder directamente al array en el JSON
                                            var opciones = data;

                                            // Agregar las opciones al elemento select con Select2
                                            $('#ArtM').select2({
                                                data: opciones.map(function (opcion) {
                                                    return { id: opcion.ARTICULO, text: opcion.ARTICULO };
                                                }),
                                                placeholder: 'Selecciona un artículo',
                                                allowClear: true,
                                                width: '100%'
                                            });
                                        });
                                    });
                                </script>
                                <option>OTRO</option>
                            </select>
                        </div>
                        <div>
                            <label>Descripción</label>
                            <input type="text" id="DescM" name="DescM" oninput="mayus(this);"
                                onkeypress="return checkA(event)" required>
                        </div>
                    </div>
                    <div id="DesplegableM">
                        <div class="Dos_Columnas">
                            <div>
                                <label>Otros artículos</label>
                                <input autocomplete="off" type="text" id="OtrosM" name="OtrosM" maxlength="100"
                                    onkeypress="return checkA(event)" oninput="mayus(this);">
                            </div>
                        </div>
                    </div>
                    <div class="Dos_Columnas">
                        <div>
                            <label>Ubicación</label>
                            <input autocomplete="off" type="text" id="UbiM" name="UbiM" required maxlength="400"
                                oninput="mayus(this);" onkeypress="return checkA(event)">
                        </div>
                        <div>
                            <label>Cantidad</label>
                            <input autocomplete="off" type="text" id="CantidadM" name="CantidadM" required min="1"
                                onkeypress="return checkN(event)">
                        </div>
                    </div>
                    <div class="Dos_Columnas Separacion">
                        <input type="submit" id="Modify" class="BotonAE" value="Aceptar">
                        <input type="button" class="BotonReg" value="Cancelar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>