<div class="Columns">
    <div class="table-responsive item1">
        <table>
            <thead>
                <tr>
                    <th>Articulo</th>
                    <th>Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
                <tr>
                    <td>Papa</td>
                    <td>Papa</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="item2 data">
        <div class="named-furniture">
            <img src="/images/Fondo.jpg" class="furniture-image">
            <label>Mobiliario:</label>
            <p class="Fname">Mesa</p>
        </div>
    </div>
</div>