<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title%>
    </title>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Noto+Sans+JP:wght@300;400;700;900&display=swap"
        rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/general.css' />    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            <a href="/users/index">
                <img src="/images/logoC.png" alt="Logo de la empresa">
            </a>
        </div>
        <nav class="Dos_Column">
            <ul class="nav-links" id="Linksnav">
            </ul>
        </nav>
        <a onclick="CerrarSesion()" class="btn"><button>Cerrar sesión</button></a>
        <a onclick="openNav()" class="menu"><button>Menu</button></a>
        <div id="mobile-menu" class="overlay">
            <a onclick="closeNav()" href="" class="close">&times;</a>
            <div class="overlay-content" id="MenuCel">
                <a href="/users/index">Inicio</a>
                <a onclick="CerrarSesion()">Cerrar Sesión</a>
            </div>
        </div>
    </header>
    <script type="text/javascript" src="/javascripts/navbar.js"></script>
    <script type="text/javascript" src="/javascripts/ValidarSesion.js"></script>
    <main class="Contenedor Contenido-centrado Seccion">
        <div class="Contenedor Contenido-centrado Alta">
            <div class="Mini-Header">
                <h4>Crear responsivas</h4>
            </div>
            <form name="crearRespon" id="crearRespon">
                <div class="Dos_Columnas Separacion">
                    <div>
                        <label>Tipo de responsiva</label>
                        <select id="Resp" required>
                        </select>
                    </div>
                    <div>
                        <label>Nombre de encargado</label>
                        <select id="NombreEmp" required style="width: 100%;">
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="Dos_Columnas Separacion">
                    <input type="submit" style="height: 6rem; width: 15rem;" value="Aceptar" class="BotonAA">
                    <a class="BotonReg" href="/users/index" style="height: 6rem; width: 15rem;">Regresar</a>
                </div>
            </form>
        </div>
    </main>
</body>
<script src="/javascripts/SocketsC.js" type="text/javascript"></script>
<script type="text/javascript" src="/javascripts/Mayusculas.js"></script>
<script type="text/javascript" src="/javascripts/NavEspecializado.js"></script>

</html>