<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />

<main class="Contenedor Contenido-centrado Seccion">
    <div class="Contenedor Contenido-centrado Alta">
        <div class="Mini-Header">
            <h4>Crear responsivas</h4>
        </div>
        <form name="crearRespon" id="crearRespon">
            <div class="Dos_Columnas Separacion">
                <div>
                    <label>Tipo de responsiva</label>
                    <select id="Resp" required>
                    </select>
                </div>
                <div>
                    <label>Nombre de encargado</label>
                    <select id="NombreEmp" required style="width: 100%;">
                        <option value=""></option>
                    </select>
                </div>
            </div>
            <div class="Dos_Columnas Separacion">
                <input type="submit" style="height: 6rem; width: 15rem;" value="Aceptar" class="BotonAA">
                <a class="BotonReg" href="/users/index" style="height: 6rem; width: 15rem;">Regresar</a>
            </div>
        </form>
    </div>
</main>