<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title%>
    </title>
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Last-Modified" content="0">
    <meta http-equiv="Cache-Control" content="no-cache, mustrevalidate">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Noto+Sans+JP:wght@300;400;700;900&display=swap"
        rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/general.css' />
    <link rel='stylesheet' href='/stylesheets/consultas.css' />
    <link rel='stylesheet' href='/stylesheets/modal.css' />
    <link rel='stylesheet' href='/stylesheets/modal2.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="/socket.io/socket.io.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/normalize.css">
</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="/images/logoC.png" alt="Logo de la empresa">
        </div>
        <nav class="Dos_Column">
            <ul class="nav-links" id="Linksnav">
            </ul>
        </nav>
        <a onclick="CerrarSesion()" class="btn"><button>Cerrar sesión</button></a>
        <a onclick="openNav()" class="menu"><button>Menu</button></a>
        <div id="mobile-menu" class="overlay">
            <a onclick="closeNav()" href="" class="close">&times;</a>
            <div class="overlay-content" id="MenuCel">
                <a href="/users/index">Inicio</a>
                <a onclick="CerrarSesion()">Cerrar Sesión</a>
            </div>
        </div>
    </header>
    <script type="text/javascript" src="/javascripts/navbar.js"></script>
    <script type="text/javascript" src="/javascripts/ValidarSesion.js"></script>
    <div class="card" id="productos">
        <div class="card-header">
            <h4>Registro de productos sacados</h4>
        </div>
        <div class="Dos_Columnas">
            <span><center><h1 id="Adverticement"></h1></center></span>
        </div>
        <div class="Tres_Column">
            <div>
                <label id="start-date">Fecha de inicio:</label>
                <input type="date" id="fechaInicio">
            </div>
            <div>
                <label id="end-date">Fecha de fin:</label>
                <input type="date" id="fechaFin">
            </div>
            <div>
                <label><br></label>
                <button class="BotonFiltro" onclick="FiltrarFechas()">Filtrar</button>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="DatosProSac">
                    <thead>
                        <tr id="firstrow">
                            <th>Código de barras</th>
                            <th>Artículo</th>
                            <th>En existencia</th>
                            <th>Encargado</th>
                            <th>Cantidad de salida</th>
                            <th>Fecha de salida</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <input type="button" class="BotonExcel" id="ExcelDownload" onclick="ExcelFacSac()" value="Descargar Excel">
    </div>

</body>
<script src="/javascripts/SocketsC.js" type="text/javascript"></script>
<script src='https://s3.amazonaws.com/popmotion.io/static/dist/popmotion.min.js'></script>
<script src="/javascripts/modal.js" type="text/javascript"></script>
<script src="/javascripts/Modal2.js" type="text/javascript"></script>
<script type="text/javascript" src="/javascripts/Mayusculas.js"></script>
<script type="text/javascript" src="/javascripts/NavEspecializado.js"></script>

</html>