<%- include layouts/header.ejs %>
<main class="Contenedor Contenido-centrado Seccion">

    <h2 class="FW-300" style="text-align: center;">¿Qué deseas hacer?</h2>
    <div class="Dos_Column">
        <div class="Campo_Ovalado">
            <h5 class="BotonAE Quitar-margin">Agregar productos</h5>
            <div class="Dos_Column Separacion">
                <a href="/EquipoA" class="BotonAE">Agregar Equipos</a>
                <a href="/Productos" class="BotonAE">Agregar Productos</a>
                <a href="/EquipoA" class="BotonAE">Agregar Mobiliario</a>
            </div>
        </div>

        <div class="Campo_Ovalado">
            <h5 class="BotonBE Quitar-margin">Retirar productos</h5>
            <div class="Dos_Column Separacion">
                <a href="/EquipoA" class="BotonAE">Agregar Equipos</a>
                <a href="/EquipoA" class="BotonAE">Agregar Productos</a>
                <a href="/EquipoA" class="BotonAE">Agregar Mobiliario</a>
            </div>
        </div>
    </div>
</main>
</body>

</html>