<%- include layouts/header_Login.ejs %>
        <main class="Seccion">
        <center style="padding: 6rem;">
            <form name="Formulario" id="Formulario" class="LogIn FS-M">
                <!--Nombre-->
                <div class="field">
                    <label class="label">Usuario:</label>
                    <input autocomplete="off" type="text" name="Nombre" id="Nombre" placeholder="Ingresa tu usuario" required>
                </div>
                <!--Contraseña-->
                <div class="field">
                    <label class="label">Contraseña:</label>
                    <input autocomplete="off" type="text" name="Contrasena" id="Contrasena" placeholder="Ingresa tu contraseña" required>
                </div>
                <input type="submit" value="Aceptar" class="BotonAE">
            </form>
        </center>
    </main>
    <script src="/javascripts/InicioSesion.js" type="text/javascript"></script>
    </body>
    </html>