<!-- Para hacer la inclusión de lo que quitamos entonces hacemos los siguiente -->
<%- include layouts/header.ejs %>
    <script>
            var socket = io();
            //Eventos socket de cliente
            socket.on("connect", function(){
            console.log("Conectado al servidor");
            });

            socket.on("reconnecting", function(){
            console.log("Conexión perdida, reconectando...");
            });

            socket.on("reconnect_failed", function(){
            console.log("No se pudo conectar con el servidor");
            });
            
            $("#Formulario").submit(function(event){
                event.preventDefault();

                if($("#Nombre").val() != "" && $("#Contrasena").val() != ""){
                    socket.emit("Server", {User:$("#Nombre").val(), Pass: $("#Contrasena").val() });
                }
            });
    </script>
        <main class="Seccion">
            <center style="padding: 6rem;">
                <form name="Formulario" id="Formulario" class="LogIn FS-M">
                    <!--Nombre-->
                    <div class="field">
                        <label class="label">Usuario:</label>
                        <input autocomplete="off" type="text" name="Nombre" id="Nombre" placeholder="Ingresa tu usuario">
                    </div>
                    <!--Contraseña-->
                    <div class="field">
                        <label class="label">Contraseña:</label>
                        <input autocomplete="off" type="text" name="Contrasena" id="Contrasena" placeholder="Ingresa tu contraseña" >
                    </div>
                    <input type="submit" value="Aceptar" class="BotonAE">
                    <!--<input type="button" style="margin-left: 1rem;" onclick="location.href='SchoolClient'" value="Buscar datos" >
                    -->
                </form>
            </center>
        </main>
    </body>

</html>