<link rel='stylesheet' href='/stylesheets/modal2.css' />
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

<div class="card" id="productos">
    <div class="card-header">
        <h4>Productos en almacén</h4>
    </div>
    <input type="text" id="buscar" oninput="buscar(); mayus(this);" placeholder="BUSCAR EN TABLA"
        title="Empieza a escribir para buscar">
    <div class="card-body">
        <div class="table-responsive">
            <table id="DatosProd">
                <thead>
                    <tr id="firstrow">
                        <th>Nombre Empleado</th>
                        <th>Área</th>
                        <th>Jefe Empleado</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="pen">
        <div class="controls">
        </div>
        <div class="overlay cancel-modal"></div>
        <div class="modal-container cancel-modal">
            <div class="Contenedor Contenido-centrado Alta">
                <form name="ModProduct" id="ModProduct">
                    <div class="Tres_Column">
                        <div class="Alinear">
                            <label>Nombre de empleado</label>
                            <input autocomplete="off" type="text" id="NEM" min="1" name="NEM" required maxlength="45"
                                oninput="mayus(this)" onkeypress="return check(event)">
                        </div>
                        <div class="field Alinear">
                            <label class="label">Área</label>
                            <select id="AreaME" required>
                                <option value=""></option>
                                <option>ADMINISTRACION</option>
                                <option>PREESCOLAR</option>
                                <option>PRIMARIA</option>
                                <option>SECUNDARIA</option>
                                <option>PREPARATORIA</option>
                                <option>SERVICIOS GENERALES</option>
                                <option>SISTEMAS</option>
                            </select>
                        </div>
                        <div class="field">
                            <label class="label">Nombre de jefe</label>
                            <select id="NomJefe" required style="width: 100%; color: white;">
                                <option value=""></option>
                            </select>
                        </div>
                    </div>
                    <div class="Dos_Columnas">
                        <input type="submit" id="Modify" class="BotonAE" value="Aceptar">
                        <input type="button" class="BotonReg" value="Cancelar">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/javascripts/Modal2.js" type="text/javascript"></script>