<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<main class="Seccion">
    <center style="padding: 6rem;">
        <form name="Registro" id="Registro" class="Registro FS-M">
            <h1 class="title">Crear nuevo empleado</h1>
            <!--Nombre empleado-->
            <div class="field">
                <label class="label">Nombre completo de empleado</label>
                <input autocomplete="off" type="text" name="NombreEmp" id="NombreEmp" placeholder="Nombre de empleado"
                    required maxlength="135" oninput="mayus(this);" onkeypress="return check(event)">
            </div>
            <!--Area-->
            <div class="field">
                <label class="label">Área</label>
                <select id="Area" required>
                    <option value=""></option>
                    <option>ADMINISTRACIÓN</option>
                    <option>PREESCOLAR</option>
                    <option>PRIMARIA</option>
                    <option>SECUNDARIA</option>
                    <option>PREPARATORIA</option>
                    <option>SERVICIOS GENERALES</option>
                    <option>SISTEMAS</option>
                </select>
            </div>
            <!--Numero de jefe-->
            <div class="field" style="padding-bottom: 3rem;">
                <label class="label">Nombre de jefe</label>
                <select id="NomJefe" required>
                    <option value=""></option>
                </select>
            </div>
            <input type="submit" value="Aceptar" class="BotonAE">
        </form>
    </center>
</main>