<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<main class="Seccion">
    <center style="padding: 6rem;">
        <form name="Registro" id="Registro" class="Registro FS-M">
            <h1 class="title">Crear nuevo usuario</h1>
            <!--Nombre empleado-->
            <div class="field">
                <label class="label">Nombre completo de empleado</label>
                <select id="NombreEmp" required style="width: 100%;">
                    <option value=""></option>
                </select>
            </div>
            <!--Nombre usuario-->
            <div class="field">
                <label class="label">Nombre de usuario</label>
                <input autocomplete="off" type="text" name="NombreUser" id="NombreUser" placeholder="Nombre de usuario"
                    required maxlength="45" onkeypress="return checkA(event)">
            </div>
            <!--Contraseña-->
            <div class="field">
                <label class="label">Contraseña nueva</label>
                <input autocomplete="off" type="password" name="ContraNueva" id="ContraNueva"
                    placeholder="Contraseña nueva" required maxlength="45" onkeypress="return checkA(event)">
            </div>
            <div>
                <label class="label">Seleccione los módulos a otorgar</label>
                <div class="Column_permisos">
                    <div>
                        <label class="Text_Checkbox"><input type="checkbox" name="modulo" value="ALMACÉN"
                                id="ALMACÉN">ALMACÉN
                        </label>
                        <div id="listaCheckboxesA" style="display: none;">
                            <div class="ListaPermisos">
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="1A"> Agregar</label>
                                </span>
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="2A"> Eliminar</label>
                                </span>
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="3A"> Modificar</label>
                                </span>
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="4A"> Consultar</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="Text_Checkbox"><input type="checkbox" name="modulo" value="MOBILIARIO"
                                id="MOBILIARIO">MOBILIARIO</label>
                        <div id="listaCheckboxesM" style="display: none;">
                            <div class="ListaPermisos">
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="1M"> Agregar</label>
                                </span>
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="2M"> Eliminar</label>
                                </span>
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="3M"> Modificar</label>
                                </span>
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="4M"> Consultar</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="Text_Checkbox"><input type="checkbox" name="modulo" value="EQUIPOS"
                                id="EQUIPOS">EQUIPOS</label>
                        <div id="listaCheckboxesEqp" style="display: none;">
                            <div class="ListaPermisos">
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="1E"> Agregar</label>
                                </span>
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="2E"> Eliminar</label>
                                </span>
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="3E"> Modificar</label>
                                </span>
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="4E"> Consultar</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Column_permisos">
                    <div>
                        <label class="Text_Checkbox"><input type="checkbox" name="modulo" value="RESPONSIVAS"
                                id="RESPONSIVAS">
                            RESPONSIVAS</label>
                        <div id="listaCheckboxesR" style="display: none;">
                            <div class="ListaPermisos">
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="1R"> Agregar</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="Text_Checkbox"><input type="checkbox" name="modulo" value="USUARIOS"
                                id="USUARIOS">
                            USUARIOS</label>
                        <div id="listaCheckboxesU" style="display: none;">
                            <div class="ListaPermisos">
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="1U"> Agregar</label>
                                </span>
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="2U"> Eliminar</label>
                                </span>
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="3U"> Modificar</label>
                                </span>
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="4U"> Consultar</label>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label class="Text_Checkbox"><input type="checkbox" name="modulo" value="EMPLEADOS"
                                id="EMPLEADOS">
                            EMPLEADOS</label>
                        <div id="listaCheckboxesE" style="display: none;">
                            <div class="ListaPermisos">
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="1EM"> Agregar</label>
                                </span>
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="2EM"> Eliminar</label>
                                </span>
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="3EM"> Modificar</label>
                                </span>
                                <span>
                                    <label class="Text_Checkbox"><input type="checkbox" id="4EM"> Consultar</label>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="submit" id="btnAceptar" value="Aceptar" class="BotonAEB">
        </form>
    </center>
</main>