@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*{
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

*, *:before, *:after{
    box-sizing: inherit;
}
body{
    line-height: 2;
    background: linear-gradient(rgba(22, 37, 78, 0.4), rgba(22, 37, 78, 0.4)), url('/images/Fondo.jpg') no-repeat fixed; 
    background-size: cover;
}

:root{
    scroll-behavior: smooth;
}

body::-webkit-scrollbar{
    width: 1rem;
}

body::-webkit-scrollbar-track{
    background-color: #2b2b2b;
}

body::-webkit-scrollbar-thumb{
    background: linear-gradient(to top, #7060ff 0%, #000e8d 100%);
    border-radius: 7px;
}
body::-webkit-scrollbar-thumb:hover{
    background: linear-gradient(to top, #7060ff 0%, #ebedff 100%);
    border-radius: 7px;
}

.header{
    background-color: #eceff1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 12rem;
    padding: 5px 10%;
    font-size: 20px;
    width: 100%;
}

.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .logo img{
    height: 70px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.2);
}

.header .nav-links{
    list-style: none;
}

.header .nav-links li{
    display: inline-block;
    padding: 0 20px;    
}

.header .nav-links li:hover,
/**/.overlay a:hover{
    transform: scale(1.1);
}

.header .nav-links a{
    font-size: 700;
    color: #000157; 
    transition: all 0.3s ease 0s;
}

.header .nav-links a:hover{
    color: #0004ff;
    transform: scale(1.1);
    
}

/**/.menu {
    display:none;
}

.header .btn button,
/**/.header .menu button{
    margin-left: 20px;
    font-weight: 700;
    color: #00025f;
    padding: 9px 25px;
    background: #afafaf;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.header .btn button:hover,
/**/.header .menu button:hover{
    background-color: #afafaf;
    color: #00025f;
    transform: scale(1.1);
}


/**/@media screen and (max-width: 800px){
    .nav-links, .btn {
        display: none;
    }
    .menu {
        display: inherit;
    }
}

/*Nav Mobile*/

.header a{
    text-decoration: none;  
    /*borramos el que teniamos en .header .nav-links a*/ 
}

.header .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: rgba(0, 10, 145, 0.514);
    overflow: hidden;
    transition: all 0.3s ease 0s;
}

.header .overlay .overlay-content{
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;    
}

.header .overlay a{
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
    font-weight: 700;
    color: #eceff1;
}

.header .overlay a:hover, 
.header .overlay a:focus{
    color: #0004fd;
}

.header .overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 65px;
}

@media screen and (max-height:450px) {
    .header .overlay a{
        font-size: 20px;
    }
    .header .overlay .close{
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

/***** Fin de ajustes basicos *****/

form{
    font-size: 1.3rem;
}


input:not([type="submit"]), textarea, select{
    padding: .8rem;    
    display: block;
    margin-bottom: 2rem;
    width: 100%;
    background-color: rgb(0, 0, 0);
    border: rgb(10,3,47) solid 1px;
    border-radius: .5rem;
    color: white;
    transition: all 0.3s ease 0s;
}

label{
    display: block;
    font-weight: 700;
}

legend {
    font-size: 2rem;
    color: #c4c4c4;

}   

/* Encabezado */
.Encabezado{
    color: darkred;
}

.Contenido-Header h1{
    color: white;
    padding-bottom: 3rem;
    max-width: 70rem;
    line-height: 2;
}
.Barra{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    max-height: 10rem;
}

/*Globales*/
img{
    max-width: 100%;
}
.Contenedor{
    max-width: 120rem;
    margin: 0 auto;
}
h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}
h5{
    font-size: 2rem;
}

/*Utilidades*/

.Inter_100{
    line-height: 100%;
}

.botonA, .botonB{
    color: black;
    cursor: context-menu;
}
.botonA:hover{
    color: white;
    background-color: limegreen;
}

.botonB:hover{
    color: white;
    background-color: #BE0101;
}

.BotonModF{
    text-decoration: none;
    width: 100%;
    border: none;
    margin-bottom: 2rem;
    text-align: center;
    background: linear-gradient(to top, #00f7ff, #008286);
    color: rgb(212, 255, 248);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease 0s;
}

.BotonModF:hover{
    background: linear-gradient(to right, #3056ff, #c8d2fd);
    transform: scale(1.1);
}

.BotonAE{
    text-decoration: none;
    width: 100%;
    border: none;
    margin-bottom: 2rem;
    text-align: center;
    background: linear-gradient(to right, #003afa, #3056ff);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease 0s;
    
}

.BotonAE:hover{
    background: linear-gradient(to right, #3056ff, #c8d2fd);
    transform: scale(1.1);
}

.BotonAA{
    width: 32rem;
    border: none;
    margin-bottom: 2rem;
    background: linear-gradient(to right, #1eb400, #2bff00);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease 0s;
}

.BotonAA:hover{
    background: linear-gradient(to right, #2bff00, #a6ff94);
    transform: scale(1.1);
}

.BotonReg{
    text-decoration: none;
    width: 32rem;
    border: none;
    margin-bottom: 2rem;
    text-align: center;
    background: linear-gradient(to right, #df7e00, #ff9101);
    color: rgb(70, 34, 0);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 20px;
    transition: all 0.3s ease 0s;
}

.BotonReg:hover{
    background: linear-gradient(to right, #ff9101, #f8c37e);
    transform: scale(1.1);
}

.BotonAG{
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    background: linear-gradient(to top, #09ff00, #00810b);
    color: rgb(195, 245, 195);
    border-radius: 10%;
    transition: all 0.3s ease 0s;
}

.BotonAG:hover{
    background: linear-gradient(to top, #09ff00, #aefdb4);
    color: rgb(35, 39, 35);
    transform: scale(1.1);
}

.BotonER{
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    background: linear-gradient(to top, #f3647c, #d80036);
    color: rgb(245, 199, 217);
    border-radius: 10%;
    transition: all 0.3s ease 0s;
}

.BotonER:hover{
    background: linear-gradient(to top, #f3647c, #ffd6dd);
    color: rgb(104, 0, 22);
    transform: scale(1.1);
}
.BotonMod{
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    background: linear-gradient(to top, #00f7ff, #008286);
    color: rgb(212, 255, 248);
    border-radius: 10%;
    transition: all 0.3s ease 0s;
}

.BotonMod:hover{
    background: linear-gradient(to top, #00f7ff, #c8fbfd);
    color: rgb(0, 53, 54);
    transform: scale(1.1);
}

.BotonIZ{
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    background: linear-gradient(to top, #c5ffc3, #03fa18);
    color: rgb(53, 88, 53);
    transition: all 0.3s ease 0s;
}

.BotonDE{
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    background: linear-gradient(to top, #fcbdc7, #fa0341);
    color: rgb(112, 0, 43);
    transition: all 0.3s ease 0s;
}

.Separacion > a{
    margin: 2rem 0 3rem 4rem;
}

.CampoForm{
    background: linear-gradient(rgba(0, 67, 252, 0.4), rgba(255, 255, 255, 0.4));
    display:block !important;
    width: 45% !important; 
    transition: all 0.3s ease 0s;
}

.CampoForm:hover{
    transform: scale(1.1);
}

.Seccion{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.FW-300{
    font-weight: 300;
    color: #eceff1;
}

.FW-200{
    font-weight: 200;
}

.FW-700{
    font-weight: 700;
}

.FS-M{
    font-size: medium;
}

.FW-Bold{
    font-weight: bolder;
}

.TA-C{
    text-align: center;
}
.D-B{
    display:block!important;
}

/* Generales */
.Dos_Columnas{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.Dos_Columnas div{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
    width: 50%;
}

.Tres_Column{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.Tres_Column div{
    display: inline-flex;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
}

.Cuatro_Column{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.Cuatro_Column div{
    display: inline-flex;
    width: 22%;
    align-items: center;
    flex-direction: column;
    padding: 0 2rem;
}

/* Inscripciones */
.Dos_Column{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.6rem;
}

.Dos_Column div{
    display: flex;
    width: 90%;
    align-items: baseline;
}

.Dos_Column div label{
    width: 40%;
    margin-left: 3rem;
}

/* LogIn */
.LogIn{
    font-weight: 800;
    text-align: left;
    background: linear-gradient(rgba(0, 67, 252, 0.4), rgba(255, 255, 255, 0.4));
    width: 40rem;
    height: 45rem;
    max-width: 50rem;
    max-height: 50rem;
    padding: 4rem 4rem;
    transition: all 0.3s ease 0s;
}
.LogIn:hover{
    transform: scale(1.1);
}

.Registro{
    font-weight: 800;
    text-align: left;
    background: linear-gradient(rgba(0, 67, 252, 0.4), rgba(255, 255, 255, 0.4));
    width: 40rem;
    max-width: 50rem;
    max-height: 85rem;
    padding: 4rem 4rem;
    transition: all 0.3s ease 0s;
}
.Registro:hover{
    transform: scale(1.1);
}

.Contenido-Centrado{
    display: flex;
    justify-content: center;
    align-items: center;

}


/* RESPONSIVE PÁGINA INICIO */
@media screen and (max-width:880px) {
    .Dos_Column a {
        display: block;
        margin: 1rem;
    }

    .Dos_Column div {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width:475px){
    .Dos_Column{
        display: block;
    }

    .Campo_Ovalado{
        width: 100%!important;
        margin-bottom: 5rem;
    }
}

/* AÑADIR PRODUCTOS */
.Alta{
    background: linear-gradient(rgba(0, 67, 252, 0.4), rgba(255, 255, 255, 0.4));
    transition: all 0.3s ease 0s;
}
.Alta:hover{
    transform: scale(1.05);
}

.Mini-Header{
    background: linear-gradient(to top, #2f44ff, #0013be);
    text-align: center;
    color: white;
}
